mat-form-field,
textarea {
  width: 100%;
}

mat-spinner{
  margin:auto
}

input[type="file"]{
visibility: hidden;
}

.class-preview{
  height: 5rem;
  margin: 1rem 0;
}

.class-preview img {
  height: 100%;
}
